<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Latest Community Additions Report</title>
  <style>
    table {
      border-collapse: collapse;
      border: 1px solid black;
    }

    th {
      background-color: lightgrey;
      border: 1px solid black;
    }

    td {
      border: 1px solid black;
    }
  </style>
</head>

<body>
  <p>Good morning Team,</p>
  <p>
    In this week's report, we're pleased to present the latest additions to the community. Currently, these new Rosies are categorized by: Creative, Executive, Marketing, Media, and Media Technology. For a total comprehensive overview, the full report can be accessed at this link.
  </p>

  <p>https://docs.google.com/spreadsheets/d/1OEI8a2q9_bd39wG25pcAgCI0MouJuzLS2G3uVEgG4mM/edit#gid=813323252</p>

  <p>Kind Regards,</p>
  
  <p>The Tech Team</p>
</body>

</html>